body{
  background:url(http://freshwallpapers.in/walls/pikachu_pokemon-HD.jpg);
}
h1{
  font-size: 40px;
  color: gold;
  background: #222;
}
table{
  background: url(https://wallpaperplay.com/walls/full/9/b/2/200651.jpg);
}
thead{
  color:green;
}
tbody{
  color:green;
}
